<%= render "devise/shared/error_messages", resource: resource %>

<h2>Sign up</h2>

<div class="form col-md-6 col-xs-10">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    

    <div class="form-group">
      <%= f.label :first, "First Name" %><br />
      <%= f.text_field :first, required: true, autofocus: true, autocomplete: "first name", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last, "Last Name" %><br />
      <%= f.text_field :last, required: true, autofocus: true, autocomplete: "last name", class:"form-control" %>
    </div>    


    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class:"form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, required: true, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password", class: "form-control" %>
    </div>


    <%= f.label :user_secret_code, "Unique Code" %><br/>
    <div class="row">
      <div class="col">
        <%= f.text_field :user_secret_code, required: true, class: "form-control", placeholder: "Enter the given unique code "%>
      </div>
      <% if @secret_code %>
        <div class="col">
          <h3><span class="badge badge-secondary"><%= @secret_code.code %></span></h3>
        </div>
        <%= f.hidden_field :uniq_code, :value => @secret_code.code  %>
      <%end %>
    </div>


    <br/><br/>
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
