<!DOCTYPE html>
<html>
  <head>
    <title>Engineerai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <header class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'DemoApp', root_path, class: "navbar-brand"%>

      <div class="nav-item ml-auto">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "my-2 my-sm-0" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "my-2 my-sm-0" %>  |  
          <%= link_to 'Sign Up', new_registration_path(:user), class: "my-2 my-sm-0" %>  
        <% end %>
      </div>
      
    </header>

    <div class="container-fluid">
      <div class="col-12 py-md-4 pl-md-5 ">
        <%#= flash.inspect %>
        <%= render "shared/flash_message" %>
        <%= yield %>
      </div>

    </div>
  </body>
</html>
